# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args:
          - '--maxkb=100000'
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-json
      - id: mixed-line-ending
      - id: check-ast
      - id: check-merge-conflict

  - repo: 'https://github.com/astral-sh/ruff-pre-commit'
    rev: v0.13.3
    hooks:
      - id: ruff
        args:
          - '--fix'
      - id: ruff-format

  - repo: 'https://github.com/asottile/pyupgrade'
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args:
          - '--py37-plus'

  - repo: 'https://github.com/pre-commit/mirrors-mypy'
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic-settings
          - types-requests
          - types-docutils
