[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib_metadata = "*"
rich = "*"
requests = "*"
pandas = "*"
ipython = "*"

[dev-packages]
mypy = "*"
bandit = "*"
pytest = "*"
flake8 = "*"
pre-commit = "*"
pytest-cov = "*"
twine = "*"
setuptools-scm = "*"
flake8-bugbear = "*"
flake8-docstrings = "*"
pytest-env = "*"

[requires]
python_version = "3.10"
